{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
    The app that started the revolution of everything
{% endblock %}

{% block content %}
    <p> The book was closed on his forefinger, and before he turned he was thrilling to the first new impression,
        which was not of the girl, but of her brother’s words.
        Under that muscled body of his he was a mass of quivering sensibilities.
        At the slightest impact of the outside world upon his consciousness, his thoughts, sympathies,
        and emotions leapt and played like lambent flame.  He was extraordinarily receptive and responsive,
        while his imagination, pitched high, was ever at work establishing relations of likeness and difference.
    </p>
    <p> “Mr. Eden,” was what he had thrilled to—he who had been called “Eden,” or “Martin Eden,” or just “Martin,” all his life.
        And “Mister!”  It was certainly going some, was his internal comment.  His mind seemed to turn, on the instant,
        into a vast camera obscura, and he saw arrayed around his consciousness endless pictures from his life, of stoke-holes and forecastles,
        camps and beaches, jails and boozing-kens, fever-hospitals and slum streets, wherein the thread of association was the fashion
        in which he had been addressed in those various situations.
    </p>

    <p> And then he turned and saw the girl.  The phantasmagoria of his brain vanished at sight of her.
        She was a pale, ethereal creature, with wide, spiritual blue eyes and a wealth of golden hair.
        He did not know how she was dressed, except that the dress was as wonderful as she.
        He likened her to a pale gold flower upon a slender stem.  No, she was a spirit, a divinity, a goddess; such sublimated beauty was not of the earth.
        Or perhaps the books were right, and there were many such as she in the upper walks of life.  She might well be sung by that chap,
        Swinburne.  Perhaps he had had somebody like her in mind when he painted that girl, Iseult, in the book there on the table.
    </p>
    <p> All this plethora of sight, and feeling, and thought occurred on the instant.
        There was no pause of the realities wherein he moved.  He saw her hand coming out to his, and she looked him straight
        in the eyes as she shook hands, frankly, like a man.  The women he had known did not shake hands that way.
        For that matter, most of them did not shake hands at all.
        A flood of associations, visions of various ways he had made the acquaintance of women, rushed into his mind and threatened to swamp it.
        But he shook them aside and looked at her. Never had he seen such a woman.
        The women he had known!  Immediately, beside her, on either hand, ranged the women he had known.
    </p>
{% endblock %}